<main>   
<div class="container">
  
  <div class="row wow fadeInDown">
    <div class="input-field col s6">
      <input type="text" ng-model="databaru.nama"><br>
      <label for="icon_prefix">Nama Grup</label>
      
    </div>
    <div class="input-field col s6">
      <input type="text" ng-model="databaru.ket"><br>  
      <label for="icon_prefix">Keterangan</label>    
    </div>    
  </div>
  <div class="row wow fadeLeft">
    <div class="input-field col s4">
      <button class="waves-effect waves-light btn" ng-click="tambahData()"><i class="material-icons left">add</i>Tambah Data</button>     

    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <i class="material-icons prefix">search</i>
      <input id="icon_prefix" type="text" ng-model="hasil" ass="validate">
      <label for="icon_prefix">Pencarian</label>
    </div>
  </div>
</div>
  <div class="container">
    <table class="bordered highlight">
      <thead>
        <tr>
            <th >#</th>
            <th >Nama Grup</th>
            <th >Keterangan</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="item in data | filter: hasil | orderBy: 'nama_grup' ">
          <td>{{$no+1}}</td>
          <td>{{item.nama_grup}}</td>
          <td>{{item.ket}}</td>
        </tr>
      </tbody>
    </table>
            
  </div>

</main>